<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <link href="css/bootstrap.css"rel="stylesheet">
    <title>Register Form</title>
</head>
<body>
    <form>
        <h4>Home Page</h4>
       
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
         
            </ul>
    
    
</body>
</html>